a.mdl-layout-title {
  text-decoration: none;
}

.explanation {
  text-align: center;
  min-height: 0;

  span {
    padding: 10px 0;
  }
}

.data-container {
  text-align: center;

  #before-container,
  #after-container {
    width: 100%;
  }
}

#tooltip {
  position: absolute;
  z-index: -1;
  opacity: 0;
  min-height: 0;
  text-align: center;

  &.visible {
    transition: opacity .25s ease-in-out;
    opacity: 0.9;
    z-index: 1;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .mdl-card__subtitle-text {
    font-size: 1.5em;
    margin-left: 10px;
  }

  // #title {
  //   font-size: 20px;
  // }

  // #value {
  //   font-size: 20px;
  // }
}

.champDiv {
  text-align: center;
  min-height: 0;

  div {
    white-space: nowrap;
    text-align: center;
  }

  img {
    // display: block;
    width: 100%;
    height: auto;
    // width: 50px;
    // height: auto;
    // margin: 0 auto;
  }
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
  stroke-opacity: 0.375;
  // stroke-outline: 1px solid blue;
  stroke-linecap: round;
}