// Hacky way of allowing deselection of tooltips on mobile
@media only screen and (max-device-width: 667px)  {
  * {
    cursor: pointer;
  }
}

.mdl-layout {
  background: url('http://riot-web-static.s3.amazonaws.com/images/news/June_2014/SRDB3/srdb3-1.jpg') center / cover;

  .mdl-layout-title {
    .mdl-button {
      height: 50px;
      line-height: 52px;
      width: 100px;
    }
  }

  .explanation,
  #introduction {
    text-align: center;
    min-height: 0;
    color: white;

    * {
      line-height: 3em;
    }
  }


  .mdl-layout__content {
    overflow: visible;

    .champDiv {
      text-align: center;
      white-space: nowrap;
      padding: 5px;

      img {
        width: 100%;
        height: auto;
      }

      .mdl-card {
        width: 100%;
        min-height: 0;

        .mdl-card__actions {
          .mdl-button {
            width: 100%;
            padding: 0;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .data-container {
      text-align: center;

      #before-container,
      #after-container {
        width: 100%;
      }

      svg {
        .node {
          cursor: pointer;
        }

        .linkNode {
          cursor: default;

          &:hover {
            .link {
              stroke-opacity: 0.5;
            }

            text {
              font-size: 30px;
            }
          }

          .link {
            fill: none;
            stroke-width: 1.5px;
            stroke-opacity: 0.375;
            stroke-linecap: round;
          }

          text {
            transition-name: font-size;
            transition-duration: .25s;
          }
        }
      }
    }

    #tooltip {
      position: fixed;
      z-index: -1;
      opacity: 0;
      min-height: 0;
      text-align: center;

      &.visible {
        transition: opacity .25s ease-in-out;
        opacity: 0.9;
        z-index: 1;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }

      .mdl-card__title-text {
        display: block;
        text-overflow: ellipsis;
      }

      .mdl-card__subtitle-text {
        font-size: 1.5em;
        margin-left: 10px;
        white-space: nowrap;
      }
    }
    
    footer {
      text-align: center;
    }
  }
}
