.mdl-grid
  .explanation.mdl-cell.mdl-cell--12-col
    h6.
      Click on an item to expand/collapse.
      Size of branches shows how many times that item was bought.
      Color of branches indicates the winrate of that particular build.

  each role in ['', 'top', 'jungle', 'middle', 'adc', 'support']
    .role-container.mdl-cell.mdl-cell--2-col.mdl-cell--4-col-tablet.mdl-card.mdl-shadow--4dp
      .mdl-card__actions
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(ng-href='/#/{{ champName }}/' + role)= (role || 'all')

  .data-container.mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet
    h5 5.11 (Before the AP Item Changes)
    #before-container
      img.loading-spinner(src='/img/spinner.gif')

  .data-container.mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet
    h5 5.14 (After the AP Item Changes)
    #after-container
      img.loading-spinner(src='/img/spinner.gif')

#tooltip.mdl-card.mdl-shadow--4dp
  .mdl-card__title
    h4.mdl-card__title-text
    div
      h5#count.mdl-card__subtitle-text
      h5#win-rate.mdl-card__subtitle-text

script(src='js/d3/d3.min.js')
script(src='js/champ.js')