extends skeleton

block body-content
  .mdl-grid
    for champObj in champAfter.data
      .mdl-cell.mdl-cell--1-col
        a(href='/'+champObj.name)
          .champDiv
            img(src='http://ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/' + champObj.image.full)
            = champObj.name
