html
  head
    title Hi

    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet')

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')

    link(rel='stylesheet' href='https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-green.min.css')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/script.js')

    block head-content

  body.mdl-base
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title
            a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--primary-contrast(href='/') Home
          .mdl-layout-spacer
          nav.mdl-navigation
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
              label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
                i.material-icons search
              .mdl-textfield__expandable-holder
                input#search.mdl-textfield__input(type='search' list='champions')
                label.mdl-textfield__label(for='search') Enter your query...

            datalist#champions
              for champObj in champBefore.data
                option(value=champObj.name)
      
      main.mdl-layout__content
        block body-content

      footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          p#riot-disclaimer This site isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.


  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59540222-2', 'auto');
    ga('send', 'pageview');
